<html>
  <head>
    <%= javascript_include_tag main %>
  </head>
  <body>
    <h1>Greeter</h1>
    <p id="greeter"></p>

    <hr>

    <h1>Clock</h1>
    <p id="clock"></p>

    <hr>

    <h1 id="multicolor-text">Multicolor text</h1>

    <hr>

    <div style="width: 100px;">
      <p id="rotating-text">Rotating text</p>
    </div>
  </body>
</html>
